*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: "Quicksand";
	color: #333;
	font-size: 1.5rem;
}

h1 {
	font-size: 2.2rem;
	color: #f1356d;
}

h2 {
	font-size: 2rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 60rem;
	margin: 0 auto;
	padding: 2rem;
	border-bottom: 1px solid #f7b4c8;
}

.links a:link,
.links a:visited {
	text-decoration: none;
	color: rgb(116, 116, 116);
	font-weight: 500;
}

.links a:hover {
	color: #f1356d;
}

.links a:not(:last-child) {
	margin-right: 1.5rem;
}

.content {
	max-width: 60rem;
	margin: 4rem auto;
	padding: 3rem;
}

/* Blog previews */
.blog-preview {
	margin-bottom: 2.5rem;
	padding: 1rem;
}

.blog-preview:hover {
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
	color: #f1356d;
}

.blog-preview p {
	margin-top: 5px;
}
